html {
    font-size: 62.5%;
    display: inline-block;
    max-width: 75%;
    margin: 0 auto;
    background-color: white;
}

.top a{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    text-decoration: none;
    color: black;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 7rem;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rock Salt', cursive;
    color: #FD3A4A;
}

.Frose {
    display: flex;
    border-radius: 50%;
    height: 70%;
    width: 100%;
    border: .5rem solid black;
}

 p {
    padding: 20%;
    margin: 0 auto;
    height: 10%;
    font-size: 2rem;
    line-height: 4;
    font-family: 'Oleo Script', cursive;
}

.unarguable {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rock Salt', cursive;
    color: #FD3A4A;
}

.principles {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rock Salt', cursive;
    list-style-type: none;
}

